{{#>Page}}
    <div class="profile">
        <div class="profile-back-button-content">
            <button></button>
        </div>
        <div class="profile-content">
            {{>ProfileImage}}
            {{> @partial-block }}
        </div>
    </div>
{{/Page}}
