@import "./../../default";

.profile {
    width: 100%;

    display: flex;

    .profile-back-button-content {
        width: 64px;
        background-color: $background-secondary;
        border-right: 1px solid $border-secondary;

        display: flex;
        justify-content: center;

        a {
            width: 28px;
            height: 28px;
            border: none;
            border-radius: 28px;
            align-self: center;
            background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjgiIGhlaWdodD0iMjgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGNpcmNsZSBjeD0iMTQiIGN5PSIxNCIgcj0iMTQiIHRyYW5zZm9ybT0icm90YXRlKC0xODAgMTQgMTQpIiBmaWxsPSIjMzM2OUYzIi8+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTIwIDE1SDl2LTFoMTF6Ii8+PHBhdGggZD0ibTEzIDE5LTQtNSA0LTUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIxLjYiLz48L3N2Zz4=");
        }
    }

    .profile-content {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 100px;
        margin: 0 auto;
        max-width: 868px;
    }
}
