@import "./../../default";

.chat {
    width: 100%;
    height: 100%;

    display: flex;

    .chat-list {
        width: 270px;
        background-color: $background-secondary;
        border-right: 1px solid $border-secondary;
        padding: 20px;

        .profile-link {
            text-align: right;
            font-size: 12px;
            margin-bottom: 20px;

            a {
                color: $text-secondary-color;
                text-decoration: none;
            }
        }
    }

    .message-screen {
        flex-grow: 1;

        align-self: center;
        text-align: center;

        color: $text-secondary-color;
    }
}


