{{#>Page}}
    <div class="chat">
        <div class="chat-list">
            <div class="profile-link">
                <a href="#">Профиль ></a>
            </div>
            {{>Search}}
            <div>Список чатов</div>
        </div>
        <div class="message-screen">
            <p>Выберите чат чтобы отправить сообщение</p>
        </div>
    </div>
{{/Page}}
