<nav>
    <ul>
        <li><a href="/login" page="LoginPage">Login</a></li>
        <li><a href="/registration" page="RegistrationPage">Registration</a></li>
        <li><a href="/chat" page="ChatPage">Chat</a></li>
        <li><a href="/404" page="NotFound">404</a></li>
        <li><a href="/500" page="ServerError">500</a></li>
        <li><a href="/profile" page="Profile">Профиль</a></li>
    </ul>
</nav>
