<nav>
    <ul>
        <li><a href="/login" page="login">Login</a></li>
        <li><a href="/registration" page="registration">Registration</a></li>
        <li><a href="/chat" page="chat">Chat</a></li>
        <li><a href="/404" page="notFound">404</a></li>
        <li><a href="/500" page="serverError">500</a></li>
        <li><a href="/profile" page="profile">Профиль</a></li>
        <li><a href="/profile" page="profilePassword">Изменить пароль</a></li>
    </ul>
</nav>
