{{#>Page}}
    <div class="profile">
        <div class="profile-back-button-content">
            <button></button>
        </div>
        <div class="profile-content">
            {{>ProfileImage}}
            {{#>Form title=name}}
                {{#>InputContainer}}
                    {{> Input style="vertical" name="email" type="text" label="Email" placeholder="Email" value=email isDisabled=formDisabled }}
                    {{> Input  style="vertical"  name="login" type="text" label="Login" placeholder="Login" value=login isDisabled=formDisabled  }}
                    {{> Input  style="vertical"  name="first_name" type="text" label="Имя" placeholder="Имя" value=firstName isDisabled=formDisabled  }}
                    {{> Input  style="vertical"  name="second_name" type="text" label="Фамилия" placeholder="Фамилия" value=secondName isDisabled=formDisabled  }}
                    {{> Input  style="vertical"  name="display_name" type="text" label="Имя в чате" placeholder="Имя в чате" value=secondName isDisabled=formDisabled }}
                    {{> Input  style="vertical"  name="phone" type="tel" label="Телефон" placeholder="Телефон" value=phone isDisabled=formDisabled }}
                {{/InputContainer}}
                <div class="links">
                    {{> Button label="Изменить данные" type="link left" }}
                    {{> Button label="Изменить пароль" type="link left" }}
                    {{> Button label="Выйти" type="link left red-color" }}
                </div>
            {{/Form}}
        </div>
    </div>
{{/Page}}
