{{#>PageProfile}}
    {{#>Form title=name}}
        {{#>InputContainer}}
            {{> Input style="vertical" name="oldPassword" type="password" label="Старый пароль"}}
            {{> Input style="vertical" name="newPassword" type="password" label="Новый пароль" }}
            {{> Input style="vertical" name="newPassword" type="password" label="Подтвердить пароль" }}
        {{/InputContainer}}
        <div class="links">
            {{> Button label="Сохранить" type="primary" }}
        </div>
    {{/Form}}
{{/PageProfile}}
