@import "./../../default";

.chat-message {
    width: fit-content;
    background-color: $background-message;
    padding: 10px;
    border-radius: 10px;
    min-width: 50px;
    margin-bottom: 10px;

    &.my {
        background-color: $background-message-my;
        align-self: flex-end;
    }
}
