@import "./../../default";

.chat-list {
    width: 270px;
    background-color: $background-secondary;
    border-right: 1px solid $border-secondary;
    padding: 20px;

    .search {
        display: flex;
        margin-bottom: 20px;

        input {
            flex-grow: 1;
            height: 32px;

            background-color: $background-primary;
            border: none;
            border-radius: 5px;

            &::placeholder {
                text-align: center;
            }
        }
    }

    .profile-link {
        text-align: right;
        font-size: 12px;
        margin-bottom: 20px;

        a {
            color: $text-secondary-color;
            text-decoration: none;
        }
    }
}
