@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$main-color: #3369f3;
$second-color: #e4edfd;
$error-color: #ff2f2f;
$text-color: #1e1e1e;
$text-secondary-color: #999;
$background-primary: #EFEFEF;
$background-secondary: #FBFBFB;
$border-secondary: #EAEAEA;
$red-color: #FF0000;
$img-background: #000000;
$background-message: #F8F8F8;
$background-message-my: #E4EDFD;
